<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuelosDroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
       	android:theme="@style/Theme.D1"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".frontEnd.PrincipalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".backEnd.behind.AlarmaService" android:process=":procc">
            <intent-filter>
                <action android:name=".behind.AlarmaService"/>
            </intent-filter>
        </service>
  
        
        <receiver android:name=".backEnd.behind.StartUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </receiver>

        <receiver android:name=".backEnd.behind.MiReceiver"  android:process=":remote" >  
            <intent-filter>
                <action android:name=".backEnd.behind.AlarmaService"/>
            </intent-filter>
        </receiver>  

 
    	<activity android:name=".frontEnd.BusquedaActivity"
            android:label="@string/titulo2"
            />
   		<activity android:name=".frontEnd.AboutActivity">
   		     <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="kankan.wheel.WHEEL_SAMPLE"/>
            </intent-filter>
               </activity>

		<activity android:name=".frontEnd.AyudaActivity"
            android:label="@string/titulo_about"
            />
   		<activity android:name=".frontEnd.ResultadoActivity"
            android:label="@string/titulo_resultado"
            />
    	<activity android:name=".frontEnd.VueloResultadoActivity"
            android:label="@string/titulo_resultado_vuelo"
            />
      	<activity android:name=".frontEnd.AlarmasActivity"
            android:label="@string/titulo_resultado_vuelo"
            />
      	<activity android:name=".frontEnd.PreferenciasActivity"
            android:label="@string/titulo_resultado_vuelo"
            />
    </application>

</manifest>